<div>
    <h1>Bart's übercoole postcodezoeker!</h1>
    <div class="form-group">
        <label for="postcodeControl">Postcode</label>
        <input [(ngModel)]="postcode" type="text" class="form-control" id="postcodeControl" placeholder="1111AA" />
    </div>
    <div class="form-group">
        <label for="streetNumberControl">Huisnummer</label>
        <input [(ngModel)]="streetNumber" type="number" class="form-control" id="streetNumberControl" />
    </div>
    <div class="form-group">
        <button class="btn btn-sm btn-outline-primary" (click)="onClick()" [disabled]="!hasValues()">
            Check Postcode
        </button> 

        <button class="btn btn-sm btn-outline-secondary" (click)="clear()" [disabled]="!isDirty()">
            Clear
        </button>
    </div>


</div>